@import '../variables';

.page-wrapper {
  max-width: 1000px;
  min-height: 500px;
  margin: -80px auto 2rem auto;
  box-shadow: 0 2px 4px rgba(50,50,93,.1);
  display: flex;
  background: $white;
}

.col {
  padding: 1rem;
}

.col-1 {
  flex: 1;
}

.sidebar {
  background-image: linear-gradient($primary-pink 0%, $secondary-orange 100%);
  width: 250px;
}

.header-block {
  background: $header-color;
  color: $white;
  width: 100%;
  text-align: center;
  z-index: -1;
  padding: 1rem 0 6rem 0;
  h1 {
    font-weight: 300;
  }
}

.ReactModal__Content {
  top: 60px !important;
  bottom: auto !important;
  left: 0 !important;
  right: 0 !important;
  border-radius: 2px !important;
  border: none !important;
  max-width: 600px;
  margin: 0 auto;
  .button-row {
    text-align: right;
  }
}

.ReactModal__Overlay {
  background-color: rgba(0, 0, 0, 0.65) !important;
}

.ReactModal__Body--open {
  overflow: hidden;
}

// table stylez
table {
  border-collapse: collapse;
  width: 100%;
}

thead tr {
  border-bottom: 1px solid $primary-pink;
}

th {
  text-align: left;
  padding: 0.4rem 0.2rem;
  font-weight: 600;
}

tr {
  font-size: 0.9rem;
}

tbody tr {
  border-bottom: 1px solid $light-grey;
  background-color: $white;
  td {
    padding: 0.75rem 0.2rem;
    .btn-link {
      padding: 0;
    }
  }
  &.expandable-cell {
    width: 100%;
  }
}

tfoot tr td {
  padding: 0.5rem 0.2rem;
  font-weight: 600;
}

// Range Slider
$range-width: 25% !default;
$range-handle-color: $primary-pink !default;
$range-handle-color-hover: darken($primary-pink, 5%) !default;
$range-handle-size: 1.25rem !default;
$range-track-color: $light-grey !default;
$range-track-height: .625rem !default;
$range-label-width: 3.125rem !default;

.range-slider {
  width: $range-width;
}

.range-slider__range {
  -webkit-appearance: none;
  width: calc(100% - (#{$range-label-width}));
  height: $range-track-height;
  border-radius: 5px;
  background: $range-track-color;
  outline: none;
  padding: 0;
  margin: 0;

  // Range Handle
  &::-webkit-slider-thumb {
    appearance: none;
    width: $range-handle-size;
    height: $range-handle-size;
    border-radius: 50%;
    background: $range-handle-color;
    cursor: pointer;
    transition: background .15s ease-in-out;

    &:hover {
      background: $range-handle-color-hover;
    }
  }

  &:active::-webkit-slider-thumb {
    background: $range-handle-color-hover;
  }

  &::-moz-range-thumb {
    width: $range-handle-size;
    height: $range-handle-size;
    border: 0;
    border-radius: 50%;
    background: $range-handle-color;
    cursor: pointer;
    transition: background .15s ease-in-out;

    &:hover {
      background: $range-handle-color-hover;
    }
  }

  &:active::-moz-range-thumb {
    background: $range-handle-color-hover;
  }
}


// Range Label
.range-slider__value {
  display: inline-block;
  margin-left: 0.5rem;
}


// Firefox Overrides
::-moz-range-track {
    background: $range-track-color;
    border: 0;
}

input::-moz-focus-inner,
input::-moz-focus-outer {
  border: 0;
}
