@import '../variables';

.btn {
  border: 1px solid $primary-pink;
  color: $primary-pink;
  font-size: 0.9rem;
  background: transparent;
  padding: 0.5rem 1rem;
  border-radius: 2px;
  cursor: pointer;
  transition: all 0.2s;
  &:not(:last-child) {
    margin-right: 0.5rem;
  }
  &:hover {
    background: $primary-pink;
    color: $white;
  }
  &-link {
    border: none;
    &:hover {
      background: transparent;
      color: $primary-pink;
    }
  }
  &-submit {
    float: right;
  }
}

.button-row {
  margin: 0.5rem 0;
}
