.empty-state {
  margin: 2em auto auto;
  text-align: center; }

.empty-state p {
  margin: 0 0 2rem;
  color: #555; }

.empty-state-graphic {
  width: 300px; }

.empty-state-header {
  margin-top: 1rem; }
