.loan-row-enter {
  opacity: 0.01;
  transform: translate(0, 1em);
}

.loan-row-enter {
  &.loan-row-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-out, transform 500ms ease-out;
    transform:translate(0,0);
  }
}

.loan-row-leave {
  animation: loan-row-leave-active 1s cubic-bezier(0.55, -0.04, 0.91, 0.94) forwards;
  transform-origin: 0% 100%;
}

@keyframes loan-row-leave-active {
  0% {
    opacity: 1;
    transform: rotateZ(0);
}

  100% {
    opacity: 0;
    transform: translateY(600px) rotateZ(90deg);
  }
}
