@import '../variables';

label {
  display: block;
  font-size: 0.9rem;
  margin: 0.2rem 0;
}

input,
select {
  width: 100%;
  border: 1px solid $medium-grey;
  border-radius: 2px;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

select {
  height: 30px;
}

.form-header {
  color: $white;
  font-size: 1.5rem;
  font-weight: 300;
  margin-top: 0;
  background: $primary-pink;
  padding: 1.5rem 1rem;
  margin: -20px -20px 20px -20px;
}

.row {
  display: flex;
}

.column {
  flex: 1;
  &:not(:last-child) {
    margin-right: 1rem;
  }
}
