.stats {
  border: 1px solid #FFF;
  margin: 1rem 0.5rem;
  padding: 0.5rem;
  text-align: center; }

.stats-header {
  margin: 0;
  font-weight: 300;
  font-size: 1rem;
  color: #FFF; }

.stats-number {
  font-size: 2rem;
  color: #FFF;
  margin: 0.2rem; }

.stats-number.stats-savings {
  font-size: 0.9rem;
  font-weight: 300; }

.savings-message {
  color: #FFF;
  font-weight: 300;
  font-size: 1.1rem;
  padding: 0 0.5rem; }

.savings-message span {
  font-weight: bold; }
