h2 {
  text-align: center;
}

.page-wrapper {
  max-width: 1000px;
  min-height: 500px;
  margin: -80px auto 2rem auto;
  box-shadow: 0 2px 4px rgba(50,50,93,.1);
  display: flex;
  background: #fff;
}

label {
  display: block;
  font-size: 0.9rem;
  margin: 0.2rem 0;
}

input,
select {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 2px;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

select {
  height: 30px;
}

.form-header {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 300;
  margin-top: 0;
  background: #DD2476;
  padding: 1.5rem 1rem;
  margin: -20px -20px 20px -20px;
}

.btn {
  border: 1px solid #DD2476;
  color: #DD2476;
  font-size: 0.9rem;
  background: transparent;
  padding: 0.5rem 1rem;
  border-radius: 2px;
  cursor: pointer;
  transition: all 0.2s;
  &:not(:last-child) {
    margin-right: 0.5rem;
  }
  &:hover {
    background: #DD2476;
    color: white;
  }
  &-link {
    border: none;
    &:hover {
      background: transparent;
      color: #DD2476;
    }
  }
}

.button-row {
  margin: 0.5rem 0;
}

.sidebar {
  background-image: linear-gradient(#DD2476 0%, #FF512F 100%);
  width: 250px;
}

.col {
  padding: 1rem;
}

.col-1 {
  flex: 1;
}

.stats {
  border: 1px solid #fff;
  margin: 1rem 0.5rem;
  padding: 0.5rem;
  text-align: center;
}

.stats-header {
  margin: 0;
  font-weight: 300;
  font-size: 1rem;
  color: #fff;
}

.stats-number {
  font-size: 2rem;
  color: #fff;
  margin: 0.2rem;
}

.header-block {
  background: #ec3856;
  color: #fff;
  width: 100%;
  text-align: center;
  z-index: -1;
  padding: 1rem 0 5rem 0;
  h1 {
    font-weight: 300;
  }
}

.row {
  display: flex;
}

.column {
  flex: 1;
  &:not(:last-child) {
    margin-right: 1rem;
  }
}

.loan-list-header {
  display: flex;
  border-bottom: 1px solid #DD2476;
  padding: 0.4rem;
  font-size: 0.9rem;
  font-weight: bold;
}

.column-type {
  width: 20%;
}

.column-issuer {
  width: 25%;
}

.column-rate {
  width: 10%;
}

.column-compound {
  width: 15%
}

.column-balance {
  width: 15%
}
ul.loan-list {
  padding-left: 0;
  margin: 0;
  list-style-type: none;
  li {
    border-bottom: 1px solid #eee;
    padding: 0.5rem 0.2rem;
  }
}

.loan-details {
  display: inline-block;
  font-size: 0.9rem;
}

.ReactModal__Content {
  top: 60px !important;
  bottom: 60px !important;
  border-radius: 2px !important;
  border: none !important;
  max-width: 600px;
  margin: 0 auto;
  .button-row {
    text-align: right;
  }
}

.ReactModal__Overlay {
  background-color: rgba(0, 0, 0, 0.65) !important;
}
