@import './variables';

.page-wrapper {
  max-width: 1000px;
  min-height: 500px;
  margin: -80px auto 2rem auto;
  box-shadow: 0 2px 4px rgba(50,50,93,.1);
  display: flex;
  background: $white;
}

.col {
  padding: 1rem;
}

.col-1 {
  flex: 1;
}

.sidebar {
  background-image: linear-gradient($primary-pink 0%, $secondary-orange 100%);
  width: 250px;
}

.btn {
  border: 1px solid $primary-pink;
  color: $primary-pink;
  font-size: 0.9rem;
  background: transparent;
  padding: 0.5rem 1rem;
  border-radius: 2px;
  cursor: pointer;
  transition: all 0.2s;
  &:not(:last-child) {
    margin-right: 0.5rem;
  }
  &:hover {
    background: $primary-pink;
    color: $white;
  }
  &-link {
    border: none;
    &:hover {
      background: transparent;
      color: $primary-pink;
    }
  }
}

.button-row {
  margin: 0.5rem 0;
}

.header-block {
  background: $header-color;
  color: $white;
  width: 100%;
  text-align: center;
  z-index: -1;
  padding: 1rem 0 6rem 0;
  h1 {
    font-weight: 300;
  }
}

.ReactModal__Content {
  top: 60px !important;
  bottom: 60px !important;
  border-radius: 2px !important;
  border: none !important;
  max-width: 600px;
  margin: 0 auto;
  .button-row {
    text-align: right;
  }
}

.ReactModal__Overlay {
  background-color: rgba(0, 0, 0, 0.65) !important;
}
